header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

#profilePic {
  padding-top: 120px;
}

.name {
  color: white;
}

body {
  background-color: #15001a;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}