header {
  height:520;
  width: 100vw;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;  
}

img {
  padding-top: 120px;
}

h2{
  color: white;
}

body {
  background-color: #15001a;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}