nav { 
  color: #FFFFFF;
  background-color: #4056A1;
  height: 120px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em;
  width: 100vw;
  position: fixed;
}

span {
  font-size: 24px;
  font-family: 'Bungee', cursive;
}

