footer {
  display: flex;
  justify-content: space-between;
  border-top: 10px solid black;
}

footer div p {
  margin: 0px;
}

header div img  {
  width:1.5rem;
  height:1.5rem;
}

article {
  border: 10px black solid;
  padding: 1rem;
  margin: 1rem;
  box-sizing: border-box;
  width: 90%;
}

article:hover {
  box-shadow: 10px 5px 5px #545149
}

section{
  padding: 1rem;
  margin: 2rem;
  border: 1px black solid;
  display: none;
}

i:hover{
  color:red;
}

.avatarName {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;

}

